.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:10px;
}


.card {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden
}

.card-img-top {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card:hover .card-img-top {
    filter: brightness(0.8); /* Resmi biraz karart */
}

.card:hover .card-body {
    background-color: rgba(0, 0, 0, 0.7); /* Kartın arka planını koyulaştır */
}
@media (max-width: 400px) {

.text-end{
    margin-top: 10px;
}
}
.card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: #ffffff !important;
    transition: background-color 0.3s ease-in-out;
    opacity: 0; 
    pointer-events: none; 
}

.card:hover .card-body {
    opacity: 1; 
}

.card-title {
    font-size: 1.2rem;
}

.card-text {
    font-size: 0.8rem;
}
@media (max-width: 1000px) {
    .card-title {
        font-size: 1.6rem;
    }

    .card-text {
        font-size: 1.2rem;
    }
}

@media (max-width: 999px) {
    .card-title {
        font-size: 2rem;
    }

    .card-text {
        font-size: 1.6rem;
    }
}

/* 600px - 799px arası ekranlar için */
@media (max-width: 799px) {
    .card-title {
        font-size: 2.4rem;
    }

    .card-text {
        font-size: 2rem;
    }
}

/* 500px - 599px arası ekranlar için */
@media (max-width: 599px) {
    .card-title {
        font-size: 2.8rem;
    }

    .card-text {
        font-size: 2.4rem;
    }
}
.link-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.btn-watch-trailer {
    position: relative;
    z-index: 200;
}
.btn {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .step-links {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination .step-links a {
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.pagination .step-links a:hover {
    background-color: #f0f0f0;
}

.pagination .step-links .current {
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    color: #333;
}
  


.sorting-container {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.sorting-container .inputbox {
    margin-left: 10px;
    
}

.sorting-container select {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sorting-container #submitBtn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #2f56ab;
    color: whitesmoke;
    border: 2px solid #4466af;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.sorting-container #submitBtn:hover {
    background-color: #1a2f5c;
    border-color: #2a3f6d;
}


.hiddenSorting{
    visibility: hidden;
    display: none;
}