.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
}


.card {
    position: relative;
    background-image: linear-gradient(120deg, #8e8e8e 0%, #0a0b0b 100%);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden
}

.card-img-top {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card:hover .card-img-top {
    filter: brightness(0.8); /* Resmi biraz karart */
}

.card:hover .custom-card-body {
    background-color: rgba(0, 0, 0, 0.7); /* Kartın arka planını koyulaştır */
}

@media (max-width: 400px) {

    .text-end {
        margin-top: 10px;
    }
}

.custom-card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff !important;
    transition: background-color 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.card:hover .custom-card-body {
    opacity: 1;
}

.card-title {
    font-size: 1.2rem;
}

.card-text {
    font-size: 0.8rem;
}

@media (max-width: 1000px) {
    .card-title {
        font-size: 1.6rem;
    }

    .card-text {
        font-size: 1.2rem;
    }
}

@media (max-width: 999px) {
    .card-title {
        font-size: 2rem;
    }

    .card-text {
        font-size: 1.6rem;
    }
}

/* 600px - 799px arası ekranlar için */
@media (max-width: 799px) {
    .card-title {
        font-size: 2.4rem;
    }

    .card-text {
        font-size: 2rem;
    }
}

/* 500px - 599px arası ekranlar için */
@media (max-width: 599px) {
    .card-title {
        font-size: 2.8rem;
    }

    .card-text {
        font-size: 2.4rem;
    }
}

.link-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.btn-watch-trailer {
    position: relative;
    z-index: 200;
}

.btn {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .step-links {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination .step-links a {
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: #dedada;
    transition: background-color 0.3s;
}

.pagination .step-links a:hover {
    background-color: #f0f0f0;
}

.pagination .step-links .current {
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    color: #333;
}


.sorting-container {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-image: linear-gradient(120deg, #4e0909 0%, #861616 100%);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sorting-container .inputbox {
    margin-left: 10px;
}

.sorting-container select {
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #800303;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s, background-color 0.3s;
}

.sorting-container select:hover,
.sorting-container select:focus {
    border-color: #c8cdcc;
    background-color: #0e0c0c;
    outline: none;
}

.sorting-container #submitBtn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5d0909;
    color: whitesmoke;
    border: 2px solid #929292;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.sorting-container #submitBtn:hover {
    background-color: #360c0c;
    border-color: #0f0b0b;
}

.hiddenSorting {
    visibility: hidden;
    display: none;
}


/* Rating */
.stars {
    display: inline-flex;
    flex-direction: row-reverse;
    font-size: 30px;
}

.stars input[type="radio"] {
    display: none;
}

.stars label {
    cursor: pointer;
    color: #ccc;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ccc;
}

.stars label:hover,
.stars label:hover ~ label,
.stars input[type="radio"]:checked ~ label {
    color: #ffc107;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffc107;
}

.comment {
    margin-top: 10px;
    width: 100%;
}

.comment textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    resize: none;
}
body {
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(120deg, #3f3f3f 0%, #363636 100%);
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.cool-box {
    background-image: linear-gradient(120deg, #727171 0%, #cdd1d1 40%,#434444 100%);
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.current {
    display: inline-block;
    background-color: #007bff;
    color: #8b8b8b;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
}

.page-number, .total-pages {
    font-size: 1.1em;
}

.welcome-message {
    background-image: linear-gradient(120deg, #000000 0%, #4b0707 100%);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.welcome-text {
    font-size: 2em;
    margin-bottom: 10px;
    color: #fff;
}

.username {
    font-weight: bold;
}

.email {
    font-style: italic;
    color: #ccc;
}

.playlist-heading {
    background-color: #1e1e1e; /* Black background */
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 32px; /* Increased font size for the heading */
    display: inline-block;
    margin-right: 10px;
}

.playlist-name {
    color: white;
    font-size: 28px; /* Increased font size for the playlist name */
    margin-bottom: 10px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #2c2c2c; /* Gray background */
    margin-right: 10px;
}
.btn-outline-black {
    color: #000000; /* Set text color to black */
    border-color: #000000; /* Set border color to black */
}

.btn-outline-black:hover {
    background-color: #000000; /* Set background color to black on hover */
    color: #ffffff; /* Set text color to white on hover */
}

