{% extends 'base.html' %}

{% load static %}
{% block title %}Arama Sonuçları | BOB{% endblock %}
{%block specific_css_multi%}
<link rel="stylesheet" href="{% static 'movie_app/css/search.css' %}" />
{%endblock%}

{% block content%}
<section id="searchPage">
    {%if query%}
    <div class="search-results-container">
      <h1 style="color: #eee;">Searching results for : "{{ query|title }}"</h1>
      <h2 style="color: #ccc;">Movies</h2>
      <ul>
        {% for serie in series %}
        <a href="{% url 'detail' serie.id %}"><li class="film-item">{{ serie.series_title }}

        </li></a>
        
        {% empty %}
        
        <li class="no-results">No results according to your input.</li>
        {% endfor %}
      </ul>
      
      {%else%}
      <div class="container">
  <h1 class="noneh1" style="color: #eee;">Try searching for keywords related to the movie you're looking for. </h1>
  </div>
  
  {%endif%}
    </div>
  
  </section>

{%endblock%}